/*comments in css*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    background: linear-gradient(rgb(0, 0, 0),rgb(255, 0, 0));
}

:root{
    /*color*/
    --primary-text-color:white;
    --secondary-text-color: rgba(200, 200, 200, 0.81);
    /*layout*/
    --margin-left:10%;
    --margin-right:20%;
}

 /*Navigation bar*/
.top-nav{
    margin-left: 0%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top:0%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.61);
    padding: 5vh 10vh;
    backdrop-filter: blur(5px);
    z-index: 100; /*to make sure it is always at the top regardless of the hover effects*/
}

.Logo, .navIcons{
    flex:1;
}

.nav-icons{
    display: flex;
    padding: 0.25rem 0.25rem;
    margin-left: auto;
    gap: clamp(1rem,10vh,5rem);
}

.nav-links{
    text-decoration: none;
    color: var(--secondary-text-color);
}

/*Body*/

/*clamp(min, preferred, max)*/
h1{
    font-size: clamp(3.5rem, 8vw, 5.5rem);
    font-weight: 800;
    color: var(--primary-text-color);

}

h2 {
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 700;
    padding-top: 2rem;
    margin-bottom:1.25rem ;

}

h3 {
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    font-weight: 600;

}

h4 {
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    font-weight: 600;

}

p{
    font-size: clamp(1.1rem,2.5vw,1.5rem);
    font-weight: 500;
    padding: 1.5rem;
}
main{
    margin-top: 97px;
    color:var(--secondary-text-color);

}

.home{
    
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:1rem;
}
/*about*/
.about,.projects{
    padding:clamp(1rem,10vw,10rem);
}


.skills,.projects{
    display: flex;
    flex-direction: column;
}
.skill-tile{
        border: 1px solid rgba(161, 161, 161, 0.1);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.153);
        text-align: center;
        padding: 0.75rem 1rem;
        font-size: 1.1rem;
        font-weight: 600;

        
}
.skill-tile-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap:2rem;
}

/*projects*/
.heading
{
    padding-bottom: 1.5rem;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;

}
.project-tile{
    border: 1px solid rgba(161, 161, 161, 0.35);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.153);
    text-align: center;
    text-decoration: none;
    color:var(--secondary-text-color);
    padding: 1.25rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;    
    text-align: left;
}

.project-title{
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 1rem;
}
.description{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
/* skills inside project*/
.project-skill-tile-grid{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
}
.project-skill-tile{
    border: 1px solid rgba(161, 161, 161, 0.763);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.153);
    text-align: center;
    padding: 0.25rem 0.25rem;
    font-size: 1rem;
    font-weight: 600;
        
}

.link-text-skill{
    text-decoration: none;;
    color:#49ffd2;
    background:#99e2ff1e;
}

/*Contact me*/
.contact
{
    padding-top:clamp(1rem,10vw,10rem);
    text-align: center;
    align-content: start;

}
.desc
{
    padding: 0.5rem;
    font-size: clamp(1.2rem,1.5vw,1.4rem);
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin:1rem auto;
    max-width: 600px;

    gap:1.5rem;

}
.contact-tile{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid rgba(161, 161, 161, 0.763);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.153);
    text-align: left;
    padding: 1.25rem 1.25rem;

    text-decoration: none;
}
.platform{
    color:var(--primary-text-color);
    
    font-size: 1.25rem;     

}

.platform-value{
    color:var(--secondary-text-color);
    
    font-size: 1.1rem;
    font-weight: 700; 
}

/*hover animation */
/*top nav*/
.Logo{
    color: rgb(0, 0, 0); 
}

.Logo:hover{
    color: rgb(255, 255, 255);
}


/*all hovers*/
.hover-animation {
    transition:all 0.3s ease-out;
}


.hover-animation:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.25);
    border-color: #ffffff;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}

/*skills*/
.skills-text-hover-animation
{
    transition: color 0.3s ease-out;
}
.skills-text-hover-animation:hover{
    color:white;
}

/*inside project tiles*/
.project-skill-hover-animation
{
    transition: all 0.3s ease-out;
}

.project-skill-hover-animation:hover{
    background: rgba(38, 255, 146, 0.225);
    color:white;

}

/* top nav links*/
